{\rtf1\ansi\ansicpg1252\cocoartf2512
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fmodern\fcharset0 Courier;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs24 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 #wm-slider-container \{\
  display: block;\
  position: relative;\
  width: 100%;\
  height: 100vh;\
  overflow: hidden;\
  -webkit-overflow-scrolling: touch;\
\}\
\
#wm-slider-container [data-slide="previous"] \{\
  transform: translateX(-100vw) !important;\
  z-index: 1;\
\}\
\
#wm-slider-container [data-slide="next"] \{\
  transform: translateX(100vw) !important;\
  z-index: 1;\
\}\
\
#wm-slider-container [data-slide="current"] \{\
  transform: translateX(00px) !important;\
  width: 100vw;\
  z-index: 2;\
  opacity: 1;\
\}\
\
#wm-slider-container .slide-btn \{\
  position: absolute;\
  z-index: 3;\
  cursor: pointer;\
  height:75px;\
  width:75px;\
\}\
\
#wm-slider-container .slide-btn svg \{\
  width:100%;\
  height:100%;\
  transition: all .3s;\
\}\
\
#wm-slider-container .slide-btn svg:hover \{\
  transform: scale(1.05);\
  transition: all .3s;\
\}\
\
#wm-slider-container .slide-btn svg:active \{\
  transform: scale(.95);\
  transition: all .3s;\
\}\
\
#wm-slider-container .slide-btn path \{\
  fill: white;\
  stroke: white;\
\}\
\
#wm-slider-container .next-btn \{\
  right: 0px;\
  top: 50%;\
  transform:translateY(-50%);\
\}\
\
#wm-slider-container .next-btn svg\{\
  right:0;\
\}\
\
#wm-slider-container .prev-btn \{\
  left: 0px;\
  top: 50%;\
  transform:translateY(-50%);\
\}\
#wm-slider-container .prev-btn svg \{\
  left: 0;  \
\}\
\
#wm-slider-container section \{\
  transition: all 1s ease-in-out;\
  position: absolute;\
  height:100%;\
  width:100%;\
  opacity: 0;\
  top: 0;\
  bottom: 0;\
  right: 0;\
  left: 0;\
  z-index: 0;\
\}\
\
#wm-slider-container section.page-section\{\
  min-height:unset !important;\
\}\
\
#wm-slider-container section.padding-top\{\
  padding-top:var(--sectionPaddingTop) !important;\
\}\
\
@media(max-width:767px) \{\
  #wm-slider-container .slide-btn \{\
    width: 50px;\
    height: 50px;\
  \}\
  #wm-slider-container .slide-btn\{\
    top:initial;\
    bottom: 0;\
  \}\
\}\
\
/*END Base Code*/\
\
/*==Squarespace 7.0 Code===*/\
main.Index #wm-slider-container \{\
  height:90vh;\
\}\
\
#wm-slider-container .Index-page-image img\{\
  width:100% !important;\
  height:100% !important;\
  object-fit:cover !important;\
  left:0 !important;\
  right:0 !important;\
  top:0 !important;\
  bottom:0 !important;\
\}\
\
#wm-slider-container .Index-page\{\
  display:flex !important;\
  align-items:center !important;\
\}\
\
#wm-slider-container .Index-page-content\{\
  width:100%;\
\}\
\
@media(max-width:767px) \{\
  main.Index #wm-slider-container\{\
    height: 100vh;\
  \}\
  main.Index #wm-slider-container.first-section\{\
    height: 80vh;\
  \}\
\}\
\
/*Squarespace 7.1 Code*/\
\
@media(max-width:767px) \{\
  article.sections #wm-slider-container.first-section\{\
    height: 87vh;\
  \}  \
\}\
}